<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title EunJin's | BLOG
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")

    body
        header.header
            .header__Col1
            .header__Col2
                ul.header__Col2__ul
                    li.header__Col2__ul__list
                        a(href="/") home
                    li.header__Col2__ul__list.deMenu dev
                        .subBox
                            h2
                                a(href="/javascript") javascript
                            h2
                                a(href="#") nodejs
                            h2
                                a(href="#") mongoDB
                            h2        
                                a(href="#") react
                    li.header__Col2__ul__list
                        a(href="/contact") contact
        block content

        footer.footer
        
            